<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pastex</title>

  <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<div class="d-flex align-items-center justify-content-center" style="flex-direction: column;height: 100vh;">
  <form action="#" th:action="@{/paste/secured/{id}(id=${id})}" th:object="${passwordModel}" method="post">
    <div style="margin:5px;">
      <h4>Access paste:</h4>
      <input type="password" class="form-control" th:class="'form-control '+${error!=null ? 'is-invalid' : ''}"
                th:field="*{password}" placeholder="Password..." required/>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="Submit"/>
      <input type="button" class="btn btn-secondary" value="Back" onclick="window.history.back()"/>
    </div>
  </form>
</div>
</body>
</html>
